@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// variables start
$fontColorPri: #333;
$fontColorSec: #007af3;
$priColor: #007af3;
$secColor: #333;
$grey-white: #f2f2f2;
$white: #fff;
$black: #000;
$darkBlue: #006bd6;
//variables end

// utilities
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: $grey-white;
  color: $fontColorPri;
}
.container {
  width: 95%;
  margin: auto;
  max-width: 1188px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $fontColorPri;
}
.p-btn {
  padding: 1em 3em;
  background-color: $priColor;
  border-radius: 5em;
  font-weight: bold;
  color: $grey-white;
  text-transform: capitalize;
  border: none;
  font-size: 1.1rem;
}
// utilities end

// navigation start
.navigation {
  background-color: $white;

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.3em;
    .logo {
      font-size: 1.3rem;
      font-weight: bold;
      span {
        color: $fontColorSec;
      }
    }
    #menu-icon {
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  nav {
    text-align: center;
    display: none;
  }
}

// hero start
.hero {
  text-align: center;
  .left-col {
    padding: 6em 0 3em 0;
    p {
      text-transform: uppercase;
      letter-spacing: 0.35em;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 1.3em;
      margin: 0.3em 0 1em 0;
      color: $black;
    }
    .btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      .cta-pri {
        margin-bottom: 1em;
      }
      .cta-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        .video-icon {
          margin-right: 0.3em;
          font-size: 1rem;
          text-decoration: none;
        }
        span {
          text-decoration: underline;
        }
      }
    }
  }
  .right-col {
    img {
      width: 70%;
    }
  }
}
// hero end

// feartures start
.features {
  background-color: $secColor;
  padding: 5em 2em;

  li {
    color: $grey-white;
    font-size: 1.1rem;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
  }
  li:last-child {
    margin-bottom: 0;
  }
  li::before {
    content: '';
    left: -2em;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/bullet.svg);
    background-size: contain;
    margin-right: 0.5em;
  }
  img {
    display: none;
  }
}

// features end

//testimonials start
.testimonials-section {
  background-color: $priColor;
  padding: 5em 2em;
  color: $grey-white;

  ul {
    text-align: center;
    padding-top: 2em;
    li {
      background-color: $darkBlue;
      padding: 1em 1em;
      width: 85%;
      margin: 0 auto 5em auto;
      border-radius: 1em;

      img {
        width: 7em;
        height: 7em;
        border: 5px solid #006bd6;
        border-radius: 50%;
        margin-top: -4.5em;
      }
      blockquote {
        padding: 1em;
      }
    }
    li:last-child {
      margin: 0 auto 0 auto;
    }
  }
}

//testimonials end

.contact {
  padding: 5em 0;
  .left-col {
    margin: 1em 2em;
    padding-bottom: 3em;
    label {
      font-size: 1.3rem;
      display: block;
      margin-top: 0.9em;
    }
    input[type='text'],
    textarea {
      border: 1px solid $fontColorPri;
      height: 3em;
      width: 85%;
      border-radius: 0.3em;
    }
    textarea {
      height: 10em;
    }
    input[type='submit'] {
      margin-top: 0.3em;
    }
  }
  .right-col {
    iframe {
      width: 100%;
      height: 500px;
      margin: auto;
    }
  }
}

//media queries start
@media screen and (min-width: 1060px) {
  // utilities start
  .container {
    width: 90%;
  }
  // utilities end

  // navigation start
  .navigation {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .top-bar {
        #menu-icon {
          display: none;
        }
      }
      nav {
        display: flex;
        gap: 15em;

        ul {
          display: flex;
          gap: 2em;
          .btn-cta {
            color: $fontColorSec;
            font-weight: bold;
            border: 3px solid $fontColorSec;
            border-radius: 2em;
            padding: 0.5em 1em;
          }
        }
      }
    }
  }
  // navigation end

  // hero start
  .hero {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left-col {
        flex: 1;
      }
      .right-col {
        flex: 1;
      }
    }
  }
  // hero end

  // features start
  .features {
    position: relative;
    img {
      display: block;
      width: 25%;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -20px;
    }
  }
  // features end

  //testimonials-start
  .testimonials-section {
    ul {
      display: flex;
      gap: 2em;
      li {
        margin: 0;
      }
    }
  }
  //testimonials-end
}
//media queries end
