@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// variables
$fontColorPri: #333;
$fontColorSec: #219ebc;
$priColor: #219ebc;
$secColor: #333;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  color: $fontColorPri;
}
// utilities
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $fontColorPri;
}

.navigation {
  background-color: #fff;
  .container {
    width: 95%;
    margin: auto;
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0.3em;
      .logo {
        font-size: 1.3rem;
        font-weight: bold;
        span {
          color: $fontColorSec;
        }
      }
      #menu-icon {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
    nav {
      text-align: center;
      display: none;
    }
  }
}

.hero {
  text-align: center;
  .left-col {
    padding: 6em 0 3em 0;
    p {
      text-transform: uppercase;
      letter-spacing: 0.35em;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 1.3em;
      margin: 0.3em 0 1em 0;
      color: #000;
    }
    .btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      .cta-pri {
        padding: 1em 3em;
        background-color: $priColor;
        border-radius: 5em;
        font-weight: bold;
        color: #f2f2f2;
        text-transform: capitalize;
      }
      .cta-sec {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2em;
      }
    }
  }
  .right-col {
    img {
      padding: 0 2em;
    }
  }
}
